<div class="card">
  <div class="card-body">
    <h5 class="card-title">Cars</h5>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Date created</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let client  of clients">
        <th scope="row">{{client.id}}</th>
        <td>{{client.name}}</td>
        <td>{{client.email}}</td>
        <td>{{client.phoneNumber}}</td>
        <td>{{client.createdAt}}</td>
        <td>
          <a class="me-3" (click)="onDeleteClients(client.id)">Delete</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
