<div class="card">
  <div class="card-body">
    <h5 class="card-title">Add Car</h5>
    <form [formGroup]="carForm" (ngSubmit)="onSubmit()">
      <input type="hidden" formControlName="id"/>

      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" formControlName="name"/>
      </div>

      <div class="mb-3">
        <label for="passenger" class="form-label">Passenger</label>
        <input type="number" class="form-control" id="passenger" formControlName="passengers"/>
      </div>

      <div class="mb-3">
        <label for="door" class="form-label">Door</label>
        <input type="number" class="form-control" id="door" formControlName="doors"/>
      </div>

      <div class="mb-3">
        <label for="engine" class="form-label">Engine</label>
        <input type="text" class="form-control" id="engine" formControlName="engine"/>
      </div>

<!--      <div class="mb-3">-->
<!--        <label for="fuelType" class="form-label">Fuel</label>-->
<!--        <select class="form-select" id="fuelType" aria-label="Default select example" formControlName="fuelType">-->
<!--          <option *ngFor="let f of this.fuelTypes" [value]="f.id">{{f.name}}</option>-->
<!--        </select>-->
<!--      </div>-->

      <div class="mb-3">
        <label for="photo" class="form-label">Photo</label>
        <input type="text" class="form-control" id="photo" formControlName="photo"/>
      </div>

      <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input type="number" class="form-control" id="price" formControlName="price"/>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input type="text" class="form-control" id="location" formControlName="location"/>
      </div>

      <div class="mb-3">
        <label for="featured" class="form-label">Featured</label>
        <input type="boolean" class="form-control" id="featured" formControlName="featured"/>
      </div>

      <div class="mb-3">
        <label for="photo" class="form-label">Brand</label>
        <select class="form-select" aria-label="Default select example" formControlName="brandId">
          <option *ngFor="let b of this.brands" [value]="b.id">{{b.name}}</option>
        </select>
      </div>

      <div>
        <button [disabled]="!carForm.valid" class="btn btn-primary">Save car</button>
        <a routerLink="/cars" class="btn">Cancel</a>
      </div>

    </form>
  </div>
</div>
