<section>
  <div class="container">
    <div class="row">
      <div>
        <h3>Book your car</h3>
      </div>
    </div>
    <div class="form">
      <div>
        <h4>Client</h4>
        <input type="text" class="form" >
      </div>
      <div>
        <h4>Car </h4>
        <input type="text" class="form">
      </div>
      <div>
        <h4>Location</h4>
        <input type="text" class="form">
      </div>
      <h4>Pick up date</h4>
      <div>
        <input type="date" class="form" placeholder="Date">
      </div>
      <div>
        <h4>Pick up time</h4>
        <input type="Time" class="form" placeholder="Time">
      </div>
      <h4>Final Price</h4>
      <input type="number" class="form" >
    </div>
    <h4>Comment</h4>
   <textarea></textarea>
    <br>
  </div>

    <button type="submit">Book now</button>
</section>
